NEXTAUTH_SECRET="your nextauth secret 15 letters min"
NEXTAUTH_URL="your website url or localhost"

GITHUB_ID="0auth github id"
GITHUB_SECRET="0auth github secret"

GOOGLE_ID="0auth google id"
GOOGLE_SECRET="0auth google secret"

DATABASE_URL="your mongodb atlas db url"

NEXT_PUBLIC_RAZORPAY_KEY_ID=" your razorpay id"
RAZORPAY_SECRET_ID="your razorpay secret"

SMTP_HOST="your smpt host"
SMTP_USER="your smpt user"
SMTP_PASSWORD="your smpt pass"
FROM_EMAIL="your email"