@import url('https://fonts.cdnfonts.com/css/sf-ui-text-2');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'SF UI Text', sans-serif;                                   
}


.text-instagram-gradient {  
  background: linear-gradient(to right, #8a3ab9, #bc2a8d, #fccc63, #fbad50);
  background-clip: text; 
  -webkit-background-clip: text;  
  -webkit-text-fill-color: transparent;  
} 


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
